# Database Configuration (Koyeb PostgreSQL)
DB_HOST=ep-spring-hall-al6pkdt1.c-3.eu-central-1.pg.koyeb.app
DB_PORT=5432
DB_NAME=koyebdb
DB_USER=koyeb-adm
DB_PASSWORD=npg_7aKfJhSs6VBz

# Server Configuration
PORT=5000
NODE_ENV=development

# JWT Secret
JWT_SECRET=your_secret_key_here_change_in_production

# Frontend URL (for CORS)
FRONTEND_URL=http://localhost:3000
